
/*  */
/* - - - - - - - - - - - COMMON STYLES - - - - - - - - - - - */
/*  */

/* border-box method produces a box exactly at the desired measurement */
  *, *:before, *:after {
    box-sizing: border-box;
  }

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

/*  */
/* - - - - - - - - - - - NAVIGATION - - - - - - - - - - - */
/*  */

nav {
  margin: 0 auto;
  padding: 4px;
  position: fixed;
  width: 375px;
  background: linear-gradient(180deg, rgba(31, 153, 204, 1) 0.62%, #1F99CC 93.85%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);	
  height: 105px;
  z-index: 1;	
}

/*  - - - - - - - Nav Details - - - - - -   */

form {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	margin: -3.8% 5.66%;
}
.status-bar {
  font-size: 12px;
  margin: 0;
  height: 25px;
  text-align: center;
}

.status-left {
  display: inline-block;
  width: 22%;
  /*margin: 1.66px;*/
  text-align: center;
  vertical-align: top;
  float: left;
  margin: 0 1.66%;
  padding-top: 1%;
}

.status-middle {
  display: inline-block;
  width: 35%;
  /*margin: 1.66px;*/
  text-align: center;
  vertical-align: top;
  float: none;
  margin: 0 1.66%;
  padding-top: 1%;
}

.status-right {
  width: 10%;
  /*margin: 1.66px;*/
  text-align: center;
  vertical-align: top;
  float: right;
  margin: 0 1.66%;
  padding-top: 0%;
  display: inline-block;	
}

.signal-icons {
  float: left;
  padding-right: 2px;
  padding-left: 1px;
  color: white;
  display: inline-block;	
}

.arrow-left{
	float:left;
	margin-left: -70px;
	margin-top: 3%;
	display: inline-block;
}

.battery {
  float: right;
  color: white;
  margin-top: -15px;
  display: inline-block;	
}


.status-time {
  font-size: 10px;
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: -10px; 
  margin-left: -20px;
  display: inline-block;	
}


.destinations {
	margin-top: 5px;
	margin-left: 20px;
	color: #333;
}


.glyph {
  width: 18px;
  font-weight: 500;	
  float: left;	
  display: inline-block;	
}	


.search_icon {
  width: 23px;
  font-weight: 500;
  padding-right: 10px;	
  padding-top: 3px;	
  display: inline-block;	
  padding-top: -30px;		
} 

.search {
display: inline-block;
width: 343px;
height: 30px;
margin-left: 12px;
margin-top: 15px;	
background:#FFFFFF;
opacity: .8;	
border-radius: 10px;	
}

/*  - - - - - - - Typography - - - - - -   */

p {
	width: 100%;
	font-size: 12px;
	display: inline;
	padding-right: 25px;
	letter-spacing: 0.02em;
	font-weight: 500;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

h2 {
	position: absolute;
	display: inline;		
	width: 65%;
	left: 69px;
	top: 28px;
	font-weight: 600;	
	letter-spacing: 0.03em;	
	font-size: 14px;
	color: white;	
	font-family: 'Lato', sans-serif;
}

h3 {
	font-size: 15px;
	display: inline;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 0.03em;	
}

h4 {
	font-size: 15px;
	display: inline;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 0.03em;	
}

/*  */
/* - - - - - - - - - - - MAIN CONTENT - - - - - - - - - - - */
/*  */


.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;	
}

.left, .right {
  float: left;
  width: 1%;
  margin: 1%	
}


.bus-list {
  padding-top: 105px;
  position: absolute;	
  width: 375px;	
  height: 654px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;	
}

.preview {
    padding-left: 3%;
    margin-top: 2%;
}

.map {
  background-color: #EEEEEE;
  background-image:url("../images/map.png");
  background-size: cover;
  height: 200px;	
  background-repeat: no-repeat;
  width: 100%;	
}

.location {
  background-color: #fff;
  box-shadow: 0px -0.4px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #999999;
  padding: 10px 10px 30px 30px;
  height: 80px;	
  margin: 0;	
  top: 376px;	
}

.content {
  display: inline-block;
  float: left;	
}

.location:hover {
  background-color: #ffffff;
}

.location .content {
  width: 90%;
  display: inline-block;
  align-content: center;	
}

.location .content h3 {
  font-size: 0.9rem;
}

.location .arrow {
  float: right;
  margin-top: 20px;
  z-index: 2;	
}

.location h1 {
  font-size: 17px;
  font-weight: 800;
  line-height: 2em;
  float: left;
  background:linear-gradient(180deg, #5DC7F4 0%, #29ABE2 100%);
  color:white;
  text-align: center;
  border-radius: 10px;
}

.direction {
  font-size: 12px;
  color: #0E5308;
  font-weight: 500;
  float: bottom;	
}

.heading-departure {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #0E5308;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);	
  /*padding-left: 16px;*/
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;	
  padding-left: 16px;
  display: inline-block;	

}

.heading-departure-oos {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #333;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);	
  /*padding-left: 16px;*/
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;	
  padding-left: 16px;
  display: inline-block;	

}

.heading-reroute {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #FFF8E4;
  border: 0.5px solid #BCBBC1;
  border-left-color: transparent;
  border-right-color: transparent;
  padding-left: 16px;

}

.heading-oos {
  width: 100%;
  line-height: 55px;
  background-color: #FFF6F8;
  /*padding-left: 16px;*/
  border: 0.5px solid #BCBBC1;
  border-left-color: transparent;
  border-right-color: transparent;
  padding-left: 16px;

}

.bus-stops {
  height: 554px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
}

.bus-entry {
  height: 80px;
  margin: 0;
  border-bottom: 0.5px inset #BCBBC1;
  padding: 0px 16px;
  width: 375px;
}

.bus-entry-reroute {
  height: 80px;
  margin: 0;
  border-bottom: 0.5px solid #BCBBC1;
  padding: 0px 16px;
  width: 375px;
  background-color: white;
}

.bus-entry-oos {
  height: 80px;
  margin: 0;
  border-bottom: 0.5px solid #BCBBC1;
  padding: 0px 16px;
  width: 375px;
  background-color: white;
}

.bus-entry:hover {
  background-color: #ECECEC;

}
.bus-entry-last:hover {
  background-color: #ECECEC;
}

.bus-entry-reroute:hover {
  background-color: #ECECEC;
}

.bus-entry-oos:hover {
  background-color: #ECECEC;
}

.bus-entry-head {
  height: 70px;
  margin: 0;
  border-bottom: 1px solid #BCBBC1;
  padding-right: 16px;
  width: 375px;	
}

.bus-entry-last {
  height: 70px;
  margin: 0;
  border-bottom: 1px solid #BCBBC1;
  padding-right: 16px;
  width: 375px;
}

.divider {
  height: 15px;
  margin: 0;
  display: block;
  background-color: #999;
  opacity: .3	
}

.bus-line {
  float: left;
  font-size: 18px;	
  background: linear-gradient(180deg, rgba(31, 153, 204, 0.66) 0.62%, #1F99CC 43.85%);
  box-shadow: 0px -0.5px 0px rgba(0.3, 0, 0, 0.3);  	
  letter-spacing: -0.05em;	
  color: white;
  font-weight: bolder;	
  text-align: center;
  width: 17%;
  height: 100%;
  padding: 0%;
  line-height: 70px;
}


.bus-destination {
  float: left;
  font-size: 17px;
  line-height: 16px;
  padding-top: 18px;
  width: 49%;
  font-weight: bold;
  padding-left: 27px;	
  color: #009245;	
}


.arrival-time {
  float: left;
  display: absolute;
  font-size: 14px;
  line-height: 15px;
  padding-top: 20px;
  font-weight: bold;
  width: 22%; 
  color: #FF7F00;	
}

.arrival-time-oos {
  float: left;
  display: absolute;
  font-size: 12px;
  line-height: 14px;
  padding-top: 20px;
  font-weight: bold;
  width: 22%; 
  color: #666;	
}


.frequency {
  font-size: 12px;
  font-weight: normal;
  color: #888888;	
}

.arrow {
  float:right;
  color: #BCBBC1;
  margin-top: 25.5px;		

}


.bottom-navbar {
  width: 375px;
  margin: auto;
  background: rgba(248, 248, 248, 0.96);
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(27.1828px);
  padding: 0;
  z-index: 1;	
  position: fixed;
  top: 617px;	
}

.home-button {
  text-align: center;
  float: left;
  width: 30%;
  height: 48px;
  margin: 0;
  padding-top: 9px;
  color:#666;	
  /*padding-top: 6px;*/
}
.nearby-button {
  text-align: center;
  float: right;
  width: 30%;
  margin: 0;
  height: 100%;
  padding-top: 9px;

  /*padding-top: 6px;*/
}

.home-icon {
  display:block;	
}

.bus-icon{
  display:block;
  color: #007AFF;
}

.bus-text {
  color: #007AFF;
  font-size: 10px;
  display: block;
  padding-top: 1px;
}

.home-text {
  font-size: 10px;
  display:block;
  padding-top: 1px;
  color: #666;	
}


